/* hero.css */

.hero-conatiner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(28, 1, 28);
  overflow: hidden;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: antiquewhite;
}

.hero-letter {
  position: relative;
  font-size: 16rem;
  font-weight: 900;
  /* color: transparent; */
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease, filter 0.4s ease;
  animation: fadeIn 0.8s ease forwards;
  animation-delay: calc(0.1s * var(--i));
  cursor: pointer;
}

.hero-letter:hover {
  transform: scale(1.3);
  filter: brightness(1.3) contrast(1.2);
}

/* Fade-in animation on load */
.hero-letter::before {
  content: attr(data-letter);
  position: absolute;
  inset: 0;
  background-image: var(--bg-img);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transform: scale(1);
  transition: 
    opacity 0.4s ease,
    transform 5s ease-in-out;
}

.hero-letter:hover::before {
  opacity: 1;
  transform: scale(1.2) translateY(-10px);
}
